.container {
	width:814px; /* Changed to 814px from 710px because the Google Map map_container is 814px.  -Trenton */
	color: #bda;
}

body {
	background: #000;
}

header {
	padding-top: 20px;
  position: relative;
}

header img {
	padding: 1em;
	background: black;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

h1 {
	font-size: 200%;
	color: #bda;
}

/* I added this rule so other headings are the same color as h1. */
h2, h3, h4 {
  color: #bda;
}


/* Links */

a {
	color: #08a;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #08a;
}

/* Navigation */

.main_logo {
  float:left;
}

#main_menu {
  float:left;
}

#main_menu_links {
  position: absolute;
  bottom:0;
}

nav {
	float: right;
}

nav {
	background-color: black;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #128;
}

nav ul li a:hover {
	color: #aaa;
	text-decoration: underline;
}


/* User Navigation buttons */

a.user_nav_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
/*  width: 190px;*/
  color: #fff;
  background: #bda;
  font-size: 100%;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#map_container {
  margin-left: auto;
  margin-right: auto;
}

/*
 * I copied these from the application.css file    -Trenton
 */

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color:green;            /* I put this here so the flash_notice text would show up. */
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #FCC; /* old: #c00; */
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/*
 * The following CSS rules are from the scaffold.css file.
 * I copied it into this application.css file, which is used by the nifty generators.
 */
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #FCC; /* red; */
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.clearall {
  clear: both;
}