@font-face {
	font-family: cool_font;
	src: url('CGF_Locust_Resistance.ttf');
}

.container {
	width: 710px;
	color: #bda;
}


body {	
	background-color:#000;
}

header {
	padding-top: 20px;
}

header img {
	padding: 1em;
	background: #fff;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

h1 {
	font-family: cool_font;
	text-shadow: #7a9 0.1em 0.1em 0.2em,-1px 0 #7a9, 0 1px #7a9,
      1px 0 #7a9, 0 -1px #7a9;
	font-size: 45px;
	color: #038;
}


/* Links */

h2
{
	font-family: cool_font;
	text-shadow: #7a9 0.1em 0.1em 0.2em,-1px 0 #7a9, 0 1px #7a9,
      1px 0 #7a9, 0 -1px #7a9;
	font-size: 30px;
	color: #038;
}

a {
	font-size: 15px;
	color: #038;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #08a;
}

.
.
.
/* Navigation */

.button {
    background: url("public/images/logo.png") no-repeat scroll 0 0 #000000;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    height: 49px;
    outline: 0 none;
    position: relative;
    width: 272px;
}

nav {
	float: right;
}

nav {
	background-color: black;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #128;
}

nav ul li a:hover {
	color: #aaa;
	text-decoration: underline;
	background-image: url('../images/logo2.png');
      background-repeat: NO-REPEAT;
      background-position: center;
}


/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
/*  width: 190px;*/
  color: #fff;
  background: #bda;
  font-size: 100%;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

