@font-face {
	font-family: cool_font;
	src: url('CGF_Locust_Resistance.ttf');
}

.container {
	width:1024px; /* Changed to 814px from 710px because the Google Map map_container is 814px.  -Trenton */
	color: #bda;
}

#user_submit
{
	font-size:20px;
	background-image:url('../images/smalldarkblue1.png');
	border:0px;
	font-family: Bangers;
	color: #bda;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
#user_submit:hover
{
background-image:url('../images/smalldarkblue2.png');
	
}
#user_submit:active
{
background-image:url('../images/smalldarkblue1.png');
	
}
body {
	background: #000;
}

header {
	padding-top: 20px;
  position: relative;
}

header img {
	padding: 1em;
	background: black;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

h1 {
	font-family: Bangers;
	text-shadow: #7a9 0.1em 0.1em 0.2em,-1px 0 #7a9, 0 1px #7a9,
      1px 0 #7a9, 0 -1px #7a9;
	font-size: 60px;
	color: #038;
}

h2
{
	font-family: Bangers;
	text-shadow: #7a9 0.1em 0.1em 0.2em,-1px 0 #7a9, 0 1px #7a9,
      1px 0 #7a9, 0 -1px #7a9;
	font-size: 40px;
	color: #038;
}


h3{
	font-family: Bangers;
	font-size: 30px;
	color: #bda;
}

/*Links*/ 
b
{
	font-family: Bangers;
}
a {
	text-decoration: none;
	color:#038;
}

a:hover {
	color:#05a;
}

a:visited {
}

/* Navigation */

.main_logo {
  float:left;
}
#menu
{
	height:40px;
}

#menu th{
	border:4px solid black;
	background-image:url('../images/darkgray1.png');
	text-align:center;
	font-family: Bangers;
	text-shadow: #7a9 0.1em 0.1em 0.2em,-1px 0 #7a9, 0 1px #7a9,
		1px 0 #7a9, 0 -1px #7a9;
	font-size: 25px;
	color: #038;
}

#menu th a{
	color: #038;
}

#menu th:hover{
	background-image:url('../images/darkgray2.png');
	
	color: #049;
}
#menu th:active{
	background-image:url('../images/darkgray1.png');
	
	color: #038;
}

#menu th a:hover{
	
	color: #049;
}
#menu th a:active{
	
	color: #038;
}

nav {
	float: right;
}

nav {
	background-color: black;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	color: #0a8;
	padding: 0 5px;
}

nav ul li a:visited {
	color: #bda;
}

nav ul li a:hover {
	text-decoration: underline;
}


/* User Navigation buttons */

a.user_nav_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
/*  width: 190px;*/
  color: #fff;
  background-image: url('../images/smalldarkblue1.png');
  font-size: 150%;
  font-family: Bangers;
  padding-left: 15px;
  padding-right: 15px;
}

a.user_nav_button:hover
{
  background-image: url('../images/smalldarkblue2.png');
	
}
a.user_nav_button:active
{
  background-image: url('../images/smalldarkblue1.png');
	
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#map_container {
	width:100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 * I copied these from the application.css file    -Trenton
 */

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color:green;            /* I put this here so the flash_notice text would show up. */
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
  color: #a00;
}

.fieldWithErrors {
  display: inline;
  color: #a00;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  
  color: #a00;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #FCC; /* old: #c00; */
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
  color: #a00;
}

.error_messages ul {
  margin: 0;
}

/*
 * The following CSS rules are from the scaffold.css file.
 * I copied it into this application.css file, which is used by the nifty generators.
 */
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #FCC; /* red; */
  display: table;
  color: #a00;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #600;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 20px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #400;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.clearall {
  clear: both;
}
