#list{
	background:#026;
}

#list tr{
	background-image:url('../images/darkgray3.png');
	font-family: Bangers;
	text-shadow: #000 0.1em 0.1em 0.2em,-1px 0 #000, 0 1px #000,
      1px 0 #000, 0 -1px #000;
	color: #bda;
	font-size: 25px;
}


#list tr th{
	border:1px solid black;
	text-align:center;
}

#list tr td{
	background:#026;
	color:#bda;
	font-family:default;
	font-size: 18px;
}

#list tr td a{
	color:#bda;
	font-family:Bangers;
}

