<div id="main_menu" class="round">
  <nav id="main_menu_links">
    <ul>
      <li><%= link_to "Students", students_path %></li>
      <li><%= link_to "Projects", project_classes_path %></li>
      <li><%= link_to "Locations", locations_path %></li>
    </ul>
  </nav>
</div>