
<table id="menu">
<tr>
<th><a height="50px" href="<%=students_path%>"><div height="50px">Students</div></a>
<th><a height="50px" href="<%=project_classes_path%>"><div height="50px">Projects</div></a>
<th><a height="50px" href="<%=locations_path%>"><div height="50px">Locations</div></a>
</tr>
</table>
        		