<nav align="right" class="round">
        <% if user_signed_in? %>
        <ul>
    Signed in as <li><%= current_user.email %>. If this isn't you,
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
    </ul>
  <% else %>
  <ul>
  <li><%= link_to "Sign up", new_user_registration_path, :class => "signup_button round" %></li>
  or 
  <li><%= link_to "Sign In", new_user_session_path, :class => "signup_button round"  %></li></p>
   </ul>
  <% end %>
</nav>